/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        nice_view_behavior: behavior_nice_view {
            compatible = "zmk,behavior-nice-view";
            #binding-cells = <0>;
            display = <&nice_view>;
            widgets = <
                &layer_status
                &battery_status
                &output_status
            >;  
        };
    };

    keymap {
        compatible = "zmk,keymap";

        l1_layer {
            bindings = <
                // Left half (QWERTY)
                &kp Q     &kp W     &kp E     &kp R     &kp T
                &kp A     &kp S     &kp D     &kp F     &kp G
                &kp Z     &kp X     &kp C     &kp V     &kp B
                &trans    &kp SPACE &trans    // &trans used correctly
        >;


            >;
        };

        l2_layer {
            bindings = <
                // Navigation layer (example)
                &kp PG_UP &kp HOME &kp UP   &kp END  &kp INS  &kp NUM_LOCK
                &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &kp DEL  &kp C_VOL_UP
                &kp F1    &kp F2   &kp F3   &kp F4   &kp F5   &kp C_VOL_DN
                &trans    &trans   &trans   &trans   &trans   &kp C_MUTE
            >;
            display-name = "NAV";
        };

        l3_layer {
            bindings = <
            >;
            display-name = "INT";
        };

        l4_layer {
            bindings = <
            >;
            display-name = "FOO";
        };
    };
};
